<!-- About us section start -->
        <div class="section primary-section" id="about">
            <div class="triangle"></div>
            <div class="container">
                <div class="title">
                    <h1>Nous</h1>
                    <p>Depuis plusieurs années, nos ânes conduisent nos charrettes et chars lors d'événements entre Loire et Loir. Nous avons également eu du succès en compétition. Parfois nos alpagas viennent aussi!</p>
                </div>
                <div class="row-fluid team">
                    <div class="span2" id="Ugolin">
                        <div class="thumbnail">
                            <h3>Ugolin</h3>
							<img src="{{ site.baseurl }}/assets/images/members/Ugo.jpg" alt="Ugo">
                            <div class="mask">
                                <h4>âne</h4>
                                <p>Né 2000. Champion.</p>
                            </div>
                        </div>
                    </div>
                    <div class="span2" id="Eole">
                        <div class="thumbnail">
                            <h3>Eole</h3>
                            <img src="{{ site.baseurl }}/assets/images/members/Linda.jpg" alt="Eole">
                            <div class="mask">
                                <h4>âne</h4>
                                <p>Né 2010. Fils.</p>
                            </div>
                        </div>
                    </div>
                    <div class="span2" id="Blanca">
                        <div class="thumbnail">
                            <h3>Blanca</h3>
							<img src="{{ site.baseurl }}/assets/images/members/Blanca.jpg" alt="Blanca">
                            <div class="mask">
                                <h4>Alpaga</h4>
                                <p>Né 2010. Laine extremement doux</p>
                            </div>
                        </div>
                    </div>
					<div class="span2" id="Peach">
                        <div class="thumbnail">
                            <h3>Peach</h3>
							<img src="{{ site.baseurl }}/assets/images/members/Peach.jpg" alt="Peach">
                            <div class="mask">
                                <h4>Alpaga</h4>
                                <p>Né 2010. Fou!</p>
                            </div>
                        </div>
                    </div>
					<div class="span2" id="Patrice">
                        <div class="thumbnail">
                            <h3>Patrice</h3>
							<img src="{{ site.baseurl }}/assets/images/members/Patrice.jpg" alt="Patrice">
                            <div class="mask">
                                <h4>Patron</h4>
                                <p>Le chef d'equippe</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
