<!-- About us section start -->
        <div class="section primary-section" id="about">
            <div class="triangle"></div>
            <div class="container">
                <div class="title">
                    <h1>L'équipe</h1>
                    <p>Notre équipage expérimenté par toutes ces manifestations, sorties et compétitions, vous propose de vous accompagner, ou de vous mener dans de belles promenades campagnardes dans la vallée du Loir.</p>
                </div>
                <div class="row-fluid team">
                    <div class="span2" id="Ugolin">
                        <div class="thumbnail">
                            <h3>Ugolin</h3>
							<img src="{{ site.baseurl }}/assets/images/members/Ugolin.jpg" alt="Ugolin">
                            <div class="mask">
                                <h4>Âne</h4>
                                <p>Le pilier d'equipe - Baudet - Né 2008</p>
                            </div>
                        </div>
                    </div>
                    <div class="span2" id="Eole">
                        <div class="thumbnail">
                            <h3>Eole</h3>
                            <img src="{{ site.baseurl }}/assets/images/members/Eole.jpg" alt="Eole">
                            <div class="mask">
                                <h4>Âne</h4>
                                <p>Fils d'Ugolin - Ongre - Né 2014</p>
                            </div>
                        </div>
                    </div>
                    <div class="span2" id="Patrice">
                        <div class="thumbnail">
                            <h3>Patrice</h3>
							<img src="{{ site.baseurl }}/assets/images/members/Patrice.jpg" alt="Patrice">
                            <div class="mask">
                                <h4>Le meneur</h4>
                                <p> </p>
                            </div>
                        </div>
                    </div>
                    <div class="span2" id="Mariedo">
                        <div class="thumbnail">
                            <h3>Mariedo</h3>
							<img src="{{ site.baseurl }}/assets/images/members/Mariedo.jpg" alt="Mariedo">
                            <div class="mask">
                                <h4>Le groom</h4>
                                <p> </p>                            </div>
                        </div>
                    </div>
		
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
