<!-- About us section start -->
        <div class="section primary-section" id="L'équipe">
            <div class="triangle"></div>
            <div class="container">
                <div class="title">
                    <h1>L'équipe</h1>
                    <p>Notre équipage expérimenté par toutes ces manifestations, sorties et compétitions, vous propose de vous accompagner, ou de vous mener dans de belles promenades campagnardes dans la vallée du Loir.</p>
                </div>
                <div class="row-fluid team">
                    <div class="span2" id="Ugolin">
                        <div class="thumbnail">
                            <h3>Ugolin</h3>
							<img src="{{ site.baseurl }}/assets/images/members/Ugo.jpg" alt="Ugo">
                            <div class="mask">
                                <p>Le pilier, Baudet, 2007</p>
                            </div>
                        </div>
                    </div>
                    <div class="span2" id="Eole">
                        <div class="thumbnail">
                            <h3>Eole</h3>
                            <img src="{{ site.baseurl }}/assets/images/members/Linda.jpg" alt="Eole">
                            <div class="mask">
                                <p>Fils, Ongre, 2013</p>
                            </div>
                        </div>
                    </div>
                    <div class="span2" id="Patrice">
                        <div class="thumbnail">
                            <h3>Patrice</h3>
							<img src="{{ site.baseurl }}/assets/images/members/Blanca.jpg" alt="Blanca">
                            <div class="mask">
                                <p>                                        Le meneur</p>
                            </div>
                        </div>
                    </div>
                    <div class="span2" id="Mariedo">
                        <div class="thumbnail">
                            <h3>Mariedo</h3>
							<img src="{{ site.baseurl }}/assets/images/members/Blanca.jpg" alt="Blanca">
                            <div class="mask">
                                <p>                                        Le groom</p>                            </div>
                        </div>
                    </div>
		
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
