<!-- Gallery section start -->
        <div class="section secondary-section " id="gallery">
            <div class="triangle"></div>
            <div class="container">
                <div class=" title">
                    <h1>Gig and Band Photos</h1>
                    <p>Many thanks to those that have taken the following photos.</p>
                </div>
                <!-- Start details for gallery photo 1 -->
                <div id="single-project">
                    <div id="slidingDiv" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="{{ site.baseurl }}/assets/images/gigs/ryshworth-20161210.jpg" alt="Ryshworth Club" />
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Ryshworth Club</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>When</span>December 2016
                                    </div>
                                    <div>
                                        <span>What</span>French Refugee Fundraiser
                                    </div>
                                </div>
                                <p>Complete with special guest bassist, Chris Gates, we played at a fundraiser following on from our Calais and Clowns Without Borders events earlier in the year. This time the funds raised went to provide sleeping bags for those sleeping on the streets of Calais.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for gallery photo 1 -->
                    <!-- Start details for gallery photo 2 -->
                    <div id="slidingDiv1" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="{{ site.baseurl }}/assets/images/gigs/shipley-20160701.png" alt="Caroline Street Social Club" />
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Caroline Street Social Club</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>When</span>July 2016</div>
                                    <div>
                                        <span>What</span>Clowns Without Borders</div>
                                </div>
                                <p>Following on from our Calais Fundraiser earlier in the year, we felt it was important to raise more money to help send Clowns Without Borders to the refugee camps in France. There, they work hard to distract those in the camps from the appalling conditions around them.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for gallery photo 2 -->
                    <!-- Start details for gallery photo 3 -->
                    <div id="slidingDiv2" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="{{ site.baseurl }}/assets/images/gigs/woodman-20160212.jpg" alt="The Woodman, Manchester Road" />
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>The Woodman, Manchester Road</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>When</span>February 2016</div>
                                    <div>
                                        <span>What</span>Pub Gig</div>
                                </div>
                                <p>We've had a good run of gigs at The Woodman, where there's always been a fantastic crowd to support us.  It was great to be asked to play on the outgoing Landlord and Landlady's final weekend.  It was also our first opportunity to show off our new bass player, Pete.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for gallery photo 3 -->
                    <div id="slidingDiv3" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="{{ site.baseurl }}/assets/images/gigs/new-inn-nov-15.jpg" alt="The New Inn, Wilsden" />
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>New Inn, Wilsden</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>When</span>November 2015</div>
                                    <div>
                                        <span>What</span>The New Inn, Wilsden</div>
                                </div>
                                <p>After a bit of a break it was great to be back at the New Inn in Wilsden.  A great crowd turned up to see Dave's final public appearance with us as Bass Player, along with a special guest Landlord on drums.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for gallery photo 1 -->
                    <!-- Start details for gallery photo 2 -->
                    <div id="slidingDiv4" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="{{ site.baseurl }}/assets/images/gigs/grim-oct-15.jpg" alt="Grim Up North">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Grim Up North</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>When</span>October 2015</div>
                                    <div>
                                        <span>What</span>Grim Up North</div>
                                </div>
                                <p>They say it's Grim Up North, but despite the weather the Scout Leaders were in fine voice for the encore at their annual training weekend.  Is this the real life, or is it just a fantasy...</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for gallery photo 2 -->
                    <!-- Start details for gallery photo 3 -->
                    <div id="slidingDiv5" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="{{ site.baseurl }}/assets/images/gigs/clayton-aug-15.jpg" alt="Clayton Golf Club">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Clayton Golf Club</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>When</span>August 2015</div>
                                    <div>
                                        <span>What</span>Family Fun Day</div>
                                </div>
                                <p>We were delighted to be invited to play at the Clayton Golf Club Annual Family Fun Day.  We all had a great time, and also managed to raise some money for this years nominated charity.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for gallery photo 3 -->
                    <!-- Start details for gallery photo 4 -->
                    <div id="slidingDiv6" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="{{ site.baseurl }}/assets/images/gigs/15mayshipley.jpg" alt="High Park Heroes" />
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>High Park Heroes</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>When</span>May 2015</div>
                                    <div>
                                        <span>What</span>High Park Heroes</div>
                                </div>
                                <p>We were proud to be involved in the first ever High Park Heroes FUNdraising evening - the highlight of the evening being Live Karaoke with Playing for Kicks as a live backing band.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End details for gallery photo 4 -->
                    <div id="slidingDiv7" class="toggleDiv row-fluid single-project">
                        <div class="span6">
                            <img src="{{ site.baseurl }}/assets/images/gigs/14deccrossflatts.jpg" alt="Crossflatts Cricket Club" />
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Crossflatts Cricket Club</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                                <div class="project-info">
                                    <div>
                                        <span>When</span>December 2014</div>
                                    <div>
                                        <span>What</span>Birthday Party</div>
                                </div>
                                <p>This was our first outing as a four piece and we battled the nerves to put on a great show for a 50th birthday party.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start details for gallery photo 5 -->
                    <div id="slidingDiv8" class="toggleDiv row-fluid single-project">
                          <div class="span6">
                            <img src="{{ site.baseurl }}/assets/images/gigs/14novshipleysocial.jpg" alt="Shipley Social Club">
                        </div>
                        <div class="span6">
                            <div class="project-description">
                                <div class="project-title clearfix">
                                    <h3>Shipley Social Club</h3>
                                    <span class="show_hide close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                </div>
                               <div class="project-info">
                                    <div>
                                        <span>When</span>November 2014</div>
                                    <div>
                                        <span>What</span>Halloween Party</div>
                                </div>
                                <p>Our good friends at All Inc had us back for their Halloween Party, where we were able to say farewell to Nige and Dave, who left us after 5 years of outstanding performances.</p>
                            </div>
                        </div>
                    </div>
                    <ul id="gallery-grid" class="thumbnails row">
                        <li class="span4 mix web">
                            <div class="thumbnail">
                                <img src="{{ site.baseurl }}/assets/images/gigs/ryshworth-20161210.jpg" alt="Ryshworth Club"/>
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Ryshworth Club</h3>
                                <p>December 2016</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix photo">
                            <div class="thumbnail">
                                <img src="{{ site.baseurl }}/assets/images/gigs/shipley-20160701.png" alt="Caroline Street Social Club"/>
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv1">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Caroline Street Social Club</h3>
                                <p>July 2016</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix identity">
                            <div class="thumbnail">
                                <img src="{{ site.baseurl }}/assets/images/gigs/woodman-20160212.jpg" alt="The Woodman, Bradford"/>
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv2">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>The Woodman, Bradford</h3>
                                <p>February 2016</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix web">
                            <div class="thumbnail">
                                <img src="{{ site.baseurl }}/assets/images/gigs/new-inn-nov-15.jpg" alt="The New Inn Wilsden"/>
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv3">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>New Inn, Wilsden</h3>
                                <p>November 2015</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix photo">
                            <div class="thumbnail">
                                <img src="{{ site.baseurl }}/assets/images/gigs/grim-oct-15.jpg" alt="Grim Up North">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv4">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Grim Up North</h3>
                                <p>October 2015</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix identity">
                            <div class="thumbnail">
                                <img src="{{ site.baseurl }}/assets/images/gigs/clayton-aug-15.jpg" alt="Clayton Golf Club">
                                <a href="#single-project" class="more show_hide" rel="#slidingDiv5">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Clayton Golf Club</h3>
                                <p>August 2015</p>
                                <div class="mask"></div>
                            </div>   
                        </li>
                        <li class="span4 mix web">
                            <div class="thumbnail">
                               <img src="{{ site.baseurl }}/assets/images/gigs/15mayshipley.jpg" alt="High Park Heroes"/>
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv6">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>High Park Heroes</h3>
                                <p>May 2015</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix photo">
                            <div class="thumbnail">
                                <img src="{{ site.baseurl }}/assets/images/gigs/14deccrossflatts.jpg" alt="Crossflatts Cricket Club">
                                <a href="#single-project" class="more show_hide" rel="#slidingDiv7">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Crossflatts Cricket Club</h3>
                                <p>December 2014</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                        <li class="span4 mix identity">
                            <div class="thumbnail">
                                <img src="{{ site.baseurl }}/assets/images/gigs/14novshipleysocial.jpg" alt="Shipley Social Club">
                                <a href="#single-project" class="show_hide more" rel="#slidingDiv8">
                                    <i class="icon-plus"></i>
                                </a>
                                <h3>Shipley Social Club</h3>
                                <p>November 2014</p>
                                <div class="mask"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Portfolio section end -->
