<head>
	<meta charset=utf-8>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="msvalidate.01" content="3FF777456E7C1080D221B210E3A427A5" />
    <title>{{ page.title }}</title>
	<meta name="description" content="Contact details, gigs coming up and an introduction to the band that is Playing for Kicks."/>
	<meta name="keywords" content="music, covers, band, group, bradford, pub, wedding, party, 1960s, 1970s, 1980s, 2000s"/>

	<!-- Load Roboto font -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
	<!-- Bootstrap
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 -->
	
	<!-- Load css styles -->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap-responsive.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/pluton.css" />
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="css/pluton-ie7.css" />
    <![endif]-->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/jquery.cslider.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/jquery.bxslider.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/animate.css" />
	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/images/ico/apple-touch-icon-144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/images/ico/apple-touch-icon-114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/images/ico/apple-touch-icon-72.png">
	<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/images/ico/apple-touch-icon-57.png">
	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/ico/favicon.ico?v=2">
</head>
