
        <!-- Start home section -->
        <div id="home">
            <!-- Start cSlider -->
            <div id="da-slider" class="da-slider">
                <div class="triangle"></div>
                <!-- mask elemet use for masking background image -->
                <div class="mask"></div>
                <!-- All slides centred in container element -->
                <div class="container">
                    <!-- Start first slide -->
                    <div class="da-slide">
                        <h2 class="fittext2">Playing For Kicks</h2>
                        <h4>Classic Rock &amp; Pop Covers</h4>
                        <p>Playing for Kicks play songs you know and love from the Beatles to Buble and Stealers Wheel to Stereophonics. There's something for everyone and you're sure to have a great night.</p>
                        <!-- <a href="#" class="da-link button">Read more</a> -->
                        <div class="da-img">
                            <img src="{{ site.url }}/assets/images/members-2017.png" alt="Band Members" width="320">
                        </div>
                    </div>
                    <!-- End first slide -->
                    <!-- Start second slide -->
                    <div class="da-slide">
			         <h2>Classic Rock and Pop:</h2>
                        <h4>Songs For Everybody</h4>
			            <p>The Beatles, The Killers, Pet Shop Boys, Eurythmics, OMD, Status Quo, Stereophonics, Buddy Holly, The Cure, The Commodores, Steve Harley, The Calling, Toploader and many more...</p>
                        <!-- <a href="#" class="da-link button">Read more</a> -->
                        <div class="da-img">
                            <img src="{{ site.url }}/assets/images/bands.png" width="320" alt="Band Photo">
                        </div>
                    </div>
                    <!-- End second slide -->
                    <!-- Start third slide -->
                    <div class="da-slide">
                        <h2>Book Us!</h2>
                        <h4>Event, Function, Venue?</h4>
                        <p>Looking for a band for an event, function or your music venue? Come along to one of our
gigs to check us out, and/or contact us to check our availability.</p>
                        <a href="#contact" class="da-link button">Contact us</a>
                        <div class="da-img">
                            <img src="{{ site.url }}/assets/images/book-us.png" width="320" alt="Book Us">
                        </div>
                    </div>
                    <!-- End third slide -->
                    <!-- Start cSlide navigation arrows -->
                    <div class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </div>
                    <!-- End cSlide navigation arrows -->
                </div>
            </div>
        </div>
        <!-- End home section -->
