 <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="brand">
                        <img src="{{ site.url }}/assets/images/logo.png" width="192" height="40" alt="Logo" />
                        <!-- This is website logo -->
                    </a>
                    <!-- Navigation button, visible on small resolution -->
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="icon-menu"></i>
                    </button>
                    <!-- Main navigation -->
                    <div class="nav-collapse collapse pull-right">
                        <ul class="nav" id="top-navigation">
                            <li class="active"><a href="{{ site.url }}#home">Home</a></li>
                            <li><a href="{{ site.url }}#gigs">Gigs</a></li>
                            <li><a href="{{ site.url }}#gallery">Gallery</a></li>
                            <li><a href="{{ site.url }}#about">Who Are We?</a></li>
                            <!-- <li><a href="#clients">Past Gigs</a></li> -->
                            <!-- <li><a href="#price">Price</a></li> -->
                            <li><a href="{{ site.url }}#contact">Contact</a></li>
                        </ul>
                    </div>
                    <!-- End main navigation -->
                </div>
            </div>
        </div>
