 <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="brand">
                        <img src="{{ site.baseurl }}/assets/images/logo.png" width="140" height="38" alt="Logo" />
                        <!-- This is website logo -->
                    </a>
                    <!-- Navigation button, visible on small resolution -->
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <i class="icon-menu"></i>
                    </button>
                    <!-- Main navigation -->
                    <div class="nav-collapse collapse pull-right">
						<ul class="nav" id="top-navigation">
							{% for item in site.data.navigation.links %}
								<li class="{% if item.url %}active{% endif %}"><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>
							{% endfor %}
						</ul>
                    </div>
                    <!-- End main navigation -->
                </div>
            </div>
        </div>
